@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    height: 100%;
    overscroll-behavior: auto;
    background: #000000;
    position: relative;
    font-family: 'Archivo', sans-serif;
}

.glow-mars-first {
    text-shadow:
        0 0 5px #ff0000,
        0 0 7px #ff00007e;
}

.glow-mars-second {
    text-shadow:
        0 0 5px #ff7b00,
        0 0 7px #ff7b0084;
}


.wheelsapp-case-study {
    background-image: url('assets/img/projects/wheelsapp-bg.jpg');
    background-size: cover;
    /* filter: opacity(0.5); */
}

.arrow {
border: solid rgb(255, 60, 60);
border-width: 0 2px 2px 0;
display: inline-block;
padding: 20px;
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}