.mercuryOne {
    color: #C8C8C8;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    text-shadow:
    0 0 10px #C8C8C8,
    0 0 13px #C8C8C87e;
}
.mercuryTwo {
    color: #3C3C3C;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.mercuryCta {
    border-style: solid;
    border-width: 1px;
    border-color: #C8C8C8;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow:
    0 0 10px #C8C8C8,
    0 0 13px #C8C8C87e;
}
.mercuryCta2 {
    border-bottom: 2px solid #C8C8C8;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.mercuryGlow {
    -webkit-filter: drop-shadow(0px 5px 14px #C8C8C8);
    filter: drop-shadow(0px 5px 14px #C8C8C8);
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1); 
}
.mercuryBorder {
    border-color: #C8C8C8;
}

/* _________________________________________ */
.venusOne {
    color: #FFE600;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    text-shadow:
    0 0 10px #FFE600,
    0 0 13px #FFE6007e;
}
.venusTwo {
    color: #ae937a;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.venusCta {
    border-style: solid;
    border-width: 1px;
    border-color: #FFE600;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow:
    0 0 10px #FFE600,
    0 0 13px #FFE6007e;
}
.venusCta2 {
    border-bottom: 2px solid #FFE600;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.venusGlow {
    -webkit-filter: drop-shadow(0px 5px 14px #FFE600);
    filter: drop-shadow(0px 5px 14px #FFE600);
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1); 
}
.venusBorder {
    border-color: #FFE600;
}
/* _________________________________________ */

.marsOne {
    color: #FF0000;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    text-shadow:
    0 0 10px #FF0000,
    0 0 13px #FF00007e;
}
.marsTwo {
    color: #ffb56f;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.marsCta {
    border-style: solid;
    border-width: 1px;
    border-color: #FF0000;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1); 
    box-shadow:
    0 0 10px #FF0000,
    0 0 13px #FF00007e;
}
.marsCta2 {
    border-bottom: 2px solid #FF0000;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1); 
}
.marsGlow {
    -webkit-filter: drop-shadow(0px 5px 14px #ff0000);
    filter: drop-shadow(0px 5px 14px #ff0000);
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1); 
}
.marsBorder {
    border-color: #FF0000;
}

/* _________________________________________ */

.jupiterOne {
    color: #E74663;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    text-shadow:
    0 0 10px #E74663,
    0 0 13px #E746637e;
}
.jupiterTwo {
    color: #5e797f;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.jupiterCta {
    border-style: solid;
    border-width: 1px;
    border-color: #E74663;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1); 
    box-shadow:
    0 0 10px #E74663,
    0 0 13px #E746637e;
}
.jupiterCta2 {
    border-bottom: 2px solid #E74663;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1); 
}
.jupiterGlow {
    -webkit-filter: drop-shadow(0px 5px 14px #E74663);
    filter: drop-shadow(0px 5px 14px #E74663);
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1); 
}
.jupiterBorder {
    border-color: #E74663;
}
/* _________________________________________ */

.saturnOne {
    color: #f9b06a;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    text-shadow:
    0 0 10px #f9b06a,
    0 0 13px #f9b06a7e;
}
.saturnTwo {
    color: #B095A7;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.saturnCta {
    border-style: solid;
    border-width: 1px;
    border-color: #f9b06a;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow:
    0 0 10px #f9b06a,
    0 0 13px #f9b06a7e;
}
.saturnCta2 {
    border-bottom: 2px solid #f9b06a;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.saturnGlow {
    -webkit-filter: drop-shadow(0px 5px 14px #f9b06a);
    filter: drop-shadow(0px 5px 14px #f9b06a);
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1); 
}
.saturnBorder {
    border-color: #f9b06a;
}
/* _________________________________________ */

.uranusOne {
    color: #00EFFE;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1); 
    text-shadow:
    0 0 10px #00EFFE,
    0 0 13px #00EFFE7e;
}
.uranusTwo {
    color: #87a1a7;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1); 
}
.uranusCta {
    border-style: solid;
    border-width: 1px;
    border-color: #00EFFE;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow:
    0 0 10px #00EFFE,
    0 0 13px #00EFFE7e;
}
.uranusCta2 {
    border-bottom: 2px solid #00EFFE;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.uranusGlow {
    -webkit-filter: drop-shadow(0px 5px 14px #00EFFE);
    filter: drop-shadow(0px 5px 14px #00EFFE);
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1); 
}
.uranusBorder {
    border-color: #00EFFE;
}
/* _________________________________________ */

.neptuneOne {
    color: #281E9A;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1); 
    text-shadow:
    0 0 10px #281E9A,
    0 0 13px #421e9acc;
}
.neptuneTwo {
    color: #384872;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1); 
}
.neptuneCta {
    border-style: solid;
    border-width: 1px;
    border-color: #281E9A;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow:
    0 0 10px #281E9A,
    0 0 13px #421e9acc;
}
.neptuneCta2 {
    border-bottom: 2px solid #281E9A;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.neptuneGlow {
    -webkit-filter: drop-shadow(0px 9px 6px #4f4ad4);
    filter: drop-shadow(0px 9px 6px #4f4ad4);
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1); 
}
.neptuneBorder {
    border-color: #281E9A;
}